* {
    font-family: 'Roboto', sans-serif;
}

html {
    --TitleScroll: 0px;
    --ChannelScroll: 0px;
}

body {
    background: #2b2b2b;
    margin: 5px;
}

#documentation {
    position: fixed;
    top: 0;
    right: 0;
    color: #b6b6b6;
    border: #b6b6b6 solid 2px;
    font-weight: bold;
    padding: .4rem;
    background: #3a3a3a;
    border-bottom-left-radius: 1rem;
}

#SwapKeyWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

#CloseSwapKeyWindow {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
    border: #b6b6b6 .1rem solid;
    color: #b6b6b6;
}

#SwapKeyWindow section {
    position: relative;
    width: 35vmin;
    padding: 2rem 0;
    background: #3a3a3a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#SwapKeyWindow section section {
    display: block;
    text-align: center;
    padding: 0;
}

#SwapKeyWindow section p {
    width: 80%;
    text-align: center;
    color: #b6b6b6;
    margin: 0;
}

#SwapKeyWindow section input {
    width: 80%;
    margin: .5rem 0;
}

#SwapAPIKeyInput,
#OverlayWidth,
#OverlayHeight,
#TitleFontSize,
#ChannelFontSize,
#TickerSpeed,
#BGCB,
#FTCB,
#BGCR,
#BGCG,
#FTCR,
#FTCG,
#SRTMI,
#SRUsername,
#SRChannel,
#SRCommand,
#SRRequestLimit {
    height: 1.2rem;
    font-size: 1rem;
    background: #8b8b8b;
    border: none;
    border-radius: .1rem;
    padding: .1rem;
}


#SwapKeyWindow section a {
    color: #b6b6b6;
}

#EditVolumeWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

#CloseEditVolumeWindow {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
    border: #b6b6b6 .1rem solid;
    color: #b6b6b6;
}

#EditVolumeWindow section {
    position: relative;
    width: 75vw;
    max-width: 16rem;
    padding: 2rem 0;
    background: #3a3a3a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#EditVolumeWindow section p {
    width: 80%;
    text-align: center;
    color: #b6b6b6;
    margin: 0;
}

#EditVolumeWindow section input {
    width: 80%;
    margin: .5rem 0;
}

#NotesWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

#CloseNotesWindow {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
    border: #b6b6b6 .1rem solid;
    color: #b6b6b6;
}

#NotesWindow section {
    position: relative;
    width: 75vw;
    max-width: 30rem;
    padding: 2rem 0;
    background: #3a3a3a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#NotesWindow section p {
    width: 80%;
    text-align: center;
    color: #b6b6b6;
    margin: 0;
}

#NotesWindow section textarea {
    width: 80%;
    max-width: 90%;
    height: 25vh;
    border-radius: 1rem;
    margin: .5rem 0;
    padding: .5rem;
    box-sizing: border-box;
    outline: none;
    background: rgba(255, 255, 255, .2);
    color: #FFFFFF;
}

#player {
    width: 30vw;
    min-width: 400px;
    height: calc(30vw / 1.77777777778);
    min-height: calc(400px / 1.77777777778);
}

#PlayerData {
    background: #3a3a3a;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#CurrentVideoData {
    flex: 1;
    margin-left: 10px;
}

#CurrentVideoData p {
    font-size: 1.1rem;
    margin: 0;
    color: #b6b6b6;
}

#CurrentVideoData span {
    font-size: 1.1rem;
    margin: 0;
    color: #b6b6b6;
}

#CurrentVideoData h1 {
    font-size: 1.2rem;
    margin: 5px 0 0 0;
    color: #b6b6b6;
}

#Currently-Playing-Data {
    margin-top: .3rem !important;
}

#AddVideos {
    margin: 10px auto 0 auto;
    background: #bbbbbb;
    display: flex;
    width: 75vw;
}

#AddVideos input[type=text] {
    width: 100%;
    min-width: 0px;
    height: 2rem;
    font-size: 1.2rem;
    background: #8b8b8b;
    border: none;
    border-radius: .25rem;
    padding: .25rem;
    outline: none;
    text-overflow: ellipsis;
}

#InputWrapper {
    width: 90vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
}

#Search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #8b8b8b;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: pointer;

    font-size: 1.7rem;
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
}

#Search:hover {
    background: #666666;
}

#SearchResults {
    background: #3a3a3a;
    color: #b6b6b6;
}

#SearchResults > h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

#SearchResults section {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    display: flex;
    cursor: pointer;
}

#SearchResults section img {
    max-width: 120px;
    max-height: 90px;
}

#SearchResults section:hover {
    background: #2b2b2b;
}

#SearchResults section:active {
    background: #202020;
}

#SearchResults section span h1 {
    margin: 0;
    font-size: 1.1rem;
}

#SearchResults section span p {
    margin: 0;
    font-size: 0.8rem;
}

#SearchResults section span p:last-of-type {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
}

#SearchResults section span {
    margin-left: 10px;
}

.VideoItem {
    border: #b6b6b6 1px solid;
    border-radius: 9999rem;
    padding: 0 5px 0 5px;
    display: inline-flex;
    align-items: center;
    margin: 0 2px !important;
}

.VideoItem i {
    font-size: 0.75rem;
    margin-right: 2px;
}

#PlayerSettings {
    background: #3a3a3a;
}

#PlayerSettings span {
    text-transform: uppercase;
    font-size: 1.1rem;
}

#StatusMessage {
    margin: 0 0 0 10px;
    padding-bottom: 10px;
    color: #b6b6b6;
    font-size: 1.3rem;
}

.queue section p {
    margin: 2px 0 2px 10px;
    color: #b6b6b6;
    cursor: pointer;
    display: inline-block;
}

.queue section p:hover {
    background: #2b2b2b;
}

.queue h1 {
    margin: 0 0 0 10px;
    color: #b6b6b6;
}

.queue {
    background: #3a3a3a;
    padding: 0px 0 3px 0;
}

/* Overlay CSS */
#OverlaySettings {
    background: #3a3a3a;
    margin-bottom: 10px;
    color: #b6b6b6;
}

#OverlaySettingsData section {
    margin: .5rem;
}

#OverlaySettingsData section:last-of-type {
    padding-bottom: .5rem;
}

#OverlaySettingsData section:first-of-type {
    padding: .5rem 0;
}

#ToggleOverlay {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;
    height: 2rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#HideShowOverlaySettings {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    height: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#OverlaySettingsData {
    display: none;
}

#overlay {
    display: none;
    height: 50px;
    width: 250px;
    border: 2px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
    background: #3f3f3f;
}

#thumbnail {
    height: calc(100% - 10px);
    margin: 5px 5px 0 5px;
}

#thumbnail img {
    height: 100%;
    width: 100%;
}

#title {
    display: inline-block;
    white-space: nowrap;
    margin-top: 10px;
    font-size: 14px;
    color: #b6b6b6;
}

#channel {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 14px;
    color: #b6b6b6;
}

#right {
    flex: 1;
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: hidden;
}

#time {
    position: absolute;
    height: calc(100% * 0.06);
    background: yellow;
    bottom: 0;
}

/* SONGREQUEST CSS */

#SongrequestSettings {
    background: #3a3a3a;
    margin-bottom: 10px;
    color: #b6b6b6;
}

#ToggleSongrequest {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;
    height: 2rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#HideShowSongrequestSettings {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    height: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#SongrequestSettingsData {
    display: none;
    margin: 10px 10px 0 10px;
}

.PushRight {
    margin-left: 10px !important;
}

#SongrequestSettingsData section {
    margin: 10px 0 0 10px;
}

#SongrequestSettingsData section:last-of-type {
    padding-bottom: .5rem;
}

#SongrequestSettingsData a {
    color: #b6b6b6;
}

.SRTip {
    margin: 1rem 0 .3rem 0;
}

#SRActive {
    display: none;
}

#SRReset {
    display: none;
}

#SRActive section {
    margin: 0;
}

#SRQueue {
    display: none;
}

/* Socket CSS */

#SocketClickToCloseTip {
    display: none;
}

#SocketSettings {
    background: #3a3a3a;
    margin-bottom: 10px;
    color: #b6b6b6;
}

#ToggleSocket {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;
    height: 2rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#HideShowSocketSettings {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    height: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#SocketSettingsData {
    display: none;
    margin: 10px 10px 0 10px;
}

#SocketSettingsData section p {
    margin: .5rem 0 .1rem 0;
}

/* MusicLink CSS */

#MusicLinkClickToCloseTip {
    display: none;
}

#MusicLinkSettings {
    background: #3a3a3a;
    margin-bottom: 10px;
    color: #b6b6b6;
}

#ToggleMusicLink {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;
    height: 2rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#HideShowMusicLinkSettings {
    color: #b6b6b6;
    font-weight: bold;
    border: 2px #b6b6b6 solid;
    box-sizing: border-box;
    height: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    margin: 0 .25rem;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#MusicLinkSettingsData {
    display: none;
    margin: 10px 10px 0 10px;
}

#MusicLinkSettingsData section p {
    margin: .5rem 0 .1rem 0;
}

/* Global */

.PresetButton {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background: #09ff00;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    margin: 10px 5px 10px 5px;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.PresetButton:hover {
    background: #058800;
}

.PresetButton:active {
    background: #036100;
}

.linkOverride {
    color: #b6b6b6;
}

@keyframes TitleScroll {

    0%,
    20%,
    100% {
        margin-left: 0;
    }

    75%,
    90% {
        margin-left: calc(0px - var(--TitleScroll))
    }
}

@keyframes ChannelScroll {

    0%,
    20%,
    100% {
        margin-left: 0;
    }

    75%,
    90% {
        margin-left: calc(0px - var(--ChannelScroll))
    }
}


@media screen and (max-width:700px) {
    #PlayerData {
        flex-direction: column;
    }

    #player {
        width: 100%;
        height: calc(calc(100vw - 30px) / 1.77777777778);
        min-width: initial;
        min-height: initial;
        margin: 0 auto;
    }

    #PlayerSettings {
        padding-top: 1rem;
    }

    #Search {
        white-space: normal;
    }
}

@media screen and (max-width:500px) {
    #SwapKeyWindow section {
        width: 80vmin;
    }
}
