* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #2b2b2b;
}

#player {
    width: 30vw;
    min-width: 400px;
    height: calc(30vw / calc(16/9));
    min-height: calc(400px / calc(16/9));
}

#PlayerData {
    background: #3a3a3a;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#CurrentVideoData {
    flex: 1;
    margin-left: 10px;
}

#CurrentVideoData p{
    font-size: 1.1rem;
    margin: 0;
    color: #b6b6b6;
}

#CurrentVideoData h1{
    font-size: 1.2rem;
    margin: 5px 0 0 0;
    color: #b6b6b6;
}

#AddVideos {
    margin: 10px auto 0 auto;
    background: #bbbbbb;
    display: flex;
    width: 75vw;
}

#AddVideos input[type=text] {
    width: 90vw;
    height: 2rem;
    font-size: 1.2rem;
    background: #b6b6b6;
    border: none;
}

#Search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #8b8b8b;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}

#Search:hover {
    background: #666666;
}

#Search p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
}

#SearchResults {
    background: #3a3a3a;
    color: #b6b6b6;
}

#SearchResults section {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    display: flex;
    cursor: pointer;
}

#SearchResults section:hover {
    background: #000000;
}

#SearchResults section span h1 {
    margin: 0;
}

#SearchResults section span p {
    margin: 0;
}

#SearchResults section span {
    margin-left: 10px;
}

#PlayerSettings {
    background: #3a3a3a;
}

#PlayerSettings span {
    display: inline-block;
    background: #09ff00;
    padding: 10px;
    margin: 0 10px 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#StatusMessage {
    margin: 0 0 10px 10px;
    color: #b6b6b6;
    font-size: 1.3rem;
}

#PlayerSettings span:hover {
    background: #058800;
}

#queue section p {
    margin: 2px 0 2px 10px;
    color: #b6b6b6;
    cursor: pointer;
    display: inline-block;
}

#queue section p:hover {
    background: #2b2b2b;
}

#queue h1 {
    margin: 0 0 0 10px;
    color: #b6b6b6;
}

#queue {
    background: #3a3a3a;
    padding: 0px 0 3px 0;
}
